@media(max-width: 700px) {


    /*-------Header-------*/


    nav img {
        margin-top: 10px;
    }

    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;

    }

    .nav-links {
        position: fixed;
        background-color: #f44336;
        height: 100vh;
        width: 375px;
        top: 0;
        right: -375px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .menu-logo {
        display: inline-block;
    }

    .logo-container {
        display: flex;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .fa-times {
        z-index: 2;
    }

    .nav-links ul {
        padding: 30px;
    }

    /*----------Course----------*/

    .row {
        flex-direction: column;
    }


    /*--------Testimonials------*/


    .testimonials-col {
        position: relative;
        margin-top: 25%;
    }

    .testimonials-col img {
        position: absolute;
        height: 70px;
        top: -23%;
        right: 30%;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    }


    /* ---------Call To Action--------- */


    .cta h1 {
        font-size: 24px;
        padding: 0 10px;
    }

    .cta .hero-btn {
        margin-top: 20%;
    }


    /* ---------Footer--------- */


    .footer p {
        padding: 0 25px;
    }

    /*---------- blog --------*/
    .sub-header h1 {
        font-size: 25px;
    }
}